@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Ecnrypt\Descrypt text</title>
</head>
<style>
    .wrapper{
        display: flex;
        justify-content: space-around;
    }
    body {
        background: #e6f4fd;
        font-family: 'Roboto', sans-serif;
    }

    .ui-form {
        max-width: 350px;
        padding: 80px 30px 0px;
        margin: 50px auto 30px;
        background: white;
    }

    .ui-form textarea{
        resize: none;
    }

        .ui-form h3 {
            position: relative;
            z-index: 5;
            margin: 0 0 60px;
            text-align: center;
            color: #4a90e2;
            font-size: 30px;
            font-weight: normal;
        }

            .ui-form h3:before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 60px;
                top: -30px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: #fee8e4;
            }

            .ui-form h3:after {
                content: "";
                position: absolute;
                z-index: -1;
                right: 50px;
                top: -40px;
                width: 0;
                height: 0;
                border-left: 55px solid transparent;
                border-right: 55px solid transparent;
                border-bottom: 90px solid #ffe3b5;
            }

        .ui-form input[type="submit"] {
            width: 100%;
            padding: 0;
            line-height: 42px;
            background: #4a90e2;
            border-width: 0;
            color: white;
            font-size: 20px;
            cursor: pointer;
        }

        .ui-form p {
            margin: 0;
            padding-top: 10px;
        }

    .form-row {
        position: relative;
        margin-bottom: 40px;
    }

        .form-row input {
            display: block;
            width: 100%;
            padding: 0 10px;
            line-height: 40px;
            font-family: 'Roboto', sans-serif;
            background: none;
            border-width: 0;
            border-bottom: 2px solid #4a90e2;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

            .form-row input:focus {
                outline: 0;
                border-color: #F77A52;
            }

                .form-row input:focus + label, .form-row input:valid + label {
                    -webkit-transform: translateY(-60px);
                    transform: translateY(-60px);
                    margin-left: -14px;
                    font-size: 14px;
                    font-weight: 400;
                    outline: 0;
                    border-color: #F77A52;
                    color: #F77A52;
                }

        .form-row label {
            position: absolute;
            left: 13px;
            color: #9d959d;
            font-size: 20px;
            font-weight: 300;
            @*-webkit-transform: translateY(-35px);
            transform: translateY(-35px);*@
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
</style>
<body>
    <div class="wrapper">
        <div class="ui-form">
            <h3>Форма шифрования</h3>
            <form method="post">
                <input hidden type="text" name="TypeOperation" value="Encrypt" />
                <div class="form-row">
                    <input type="text" name="InputText" value="@ViewBag.InputEncryptText" />
                    <label for="InputText">Введите текст:</label>
                </div>
                <div class="form-row">
                    <input type="text" name="InputKey" value="@ViewBag.InputEncryptKey" />
                    <label for="InputKey">Введите ключ шифрования:</label>
                </div>
                <p><input type="submit" value="Зашифровать" /></p>
                <div class="form-row">
                    <h2>Результат:</h2>
                    <textarea rows="8" cols="46" readonly wrap="soft" class="ResultText">@ViewBag.ResultEncryptText</textarea>
                </div>
                <div class="form-row">
                    <input readonly type="text" value="@ViewBag.DescryptKey" />
                    <label for="InputEncryptKey">Ключ расшифровки</label>
                </div>
            </form>
        </div>

        @*        @if (ViewBag.Error != string.Empty)
            {
                <div class="ui-form">
                    <h3>Ошибка</h3>
                    <div class="form-row">
                        <input readonly type="text" value="@ViewBag.Error" />
                    </div>
                </div>
            }*@
        <div class="ui-form">
            <h3>Форма дешифрования</h3>
            <form method="post">
                <input hidden type="text" name="TypeOperation" value="Descrypt" />
                <div class="form-row">
                    <input type="text" name="InputText" value="@ViewBag.InputDescryptText" />
                    <label for="InputEncryptText">Введите текст:</label>
                </div>
                <div class="form-row">
                    <input type="text" name="InputKey" value="@ViewBag.EncryptKey" />
                    <label for="InputEncryptKey">Введите ключ шифрования:</label>
                </div>
                <p><input type="submit" value="Расшифровать" /></p>
                <div class="form-row">
                    <h2>Результат:</h2>
                    <textarea rows="8" cols="46" readonly wrap="soft" class="ResultText">@ViewBag.ResultDescryptText</textarea>
                </div>
                <div class="form-row">
                    <input readonly type="text" value="@ViewBag.EncryptKey" />
                    <label for="InputEncryptKey">Ключ шифрования</label>
                </div>
            </form>
        </div>
    </div>
</body>
</html>